.buttonEditForm {
    & i {
        vertical-align: 0;
    }
}

.mainCreateIngredient {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dropzoneCreateIngredient {
    margin: 10px;
    padding: 5px;
    border: 2px #b5b5b5 solid;
    border-radius: 8px;
    height: 250px;
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    background: #f3f3f3;
}
.dropzoneInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.showCreateIngredientPicture {
    height: 100%;
    width: 100%;
    cursor: pointer;
    :hover {
        border: 2px #42a9fd solid;
        background: #786b59;
    }
}
