.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

    border: 2px solid #2f85ff;
    border-radius: 8px;

}

