.sort {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 2px solid #f2f2f2;
    border-radius: 2px;
    padding: 10px;
    & h4 {
        color: #1e90fd;
    }
    & i {
        vertical-align: .075em;
    }
    & div {
        display: flex;
        flex-direction: row;
        & div {
            color: #1e90fd;
            margin: 5px;
        }
    }
}



