.header {
    display: flex;
    align-items: center;
    height: 210px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-grow: 1;

    & h2 {
        color: #e90d13;
    }
}

.login {
    height: 100%;
    width: 300px;
    flex-grow: 0;
}